name: deploy-model-training-pipeline

on:
  push:
    branches: [ "main" ]
    paths:
      - ".github/workflows/**"
      - "mlops/**"
  workflow_dispatch:

jobs:
  create-compute:
    uses: ./.github/workflows/create-compute.yml
    with:
      cluster_name: cpu-cluster
      size: Standard_DS11_v2
      min_instances: 0
      max_instances: 2
      resource_group: rboaro-rg
      workspace_name: AI_Studies
    secrets:
      creds: ${{ secrets.AZURE_CREDENTIALS }}

  register-dataset:
    needs: create-compute
    uses: ./.github/workflows/register-dataset.yml
    with:
      resource_group: rboaro-rg
      workspace_name: AI_Studies
      data_yaml: mlops/azureml/data.yml
    secrets:
      creds: ${{ secrets.AZURE_CREDENTIALS }}

  register-environment:
    needs: register-dataset
    uses: ./.github/workflows/register-environment.yml
    with:
      resource_group: rboaro-rg
      workspace_name: AI_Studies
      env_yaml: mlops/azureml/train-env.yml
    secrets:
      creds: ${{ secrets.AZURE_CREDENTIALS }}

  run-pipeline:
    needs: register-environment
    uses: ./.github/workflows/run-pipeline.yml
    with:
      resource_group: rboaro-rg
      workspace_name: AI_Studies
      pipeline_yaml: mlops/azureml/pipeline.yml
    secrets:
      creds: ${{ secrets.AZURE_CREDENTIALS }}
